<div
  class="c-bb-bingo-board"
  [class.c-bb-bingo-board--horizontal]="layout === 'horizontal'"
>
  <ol class="c-bb-bingo-board__board">
    <li
      *ngFor="let group of itemGroups"
      class="c-bb-bingo-board__group-container"
    >
      <app-block-group
        [category]="group.category"
        [items]="group.items"
        [calledIds]="calledIds"
        [lastCalledId]="lastCalledId"
        [horizontal]="layout === 'horizontal'"
        (itemToggle)="onItemClick($event)"
      ></app-block-group>
    </li>
  </ol>

  <div class="c-bb-bingo-board__action-container">
    <button
      class="c-bb-bingo-board__clear-button"
      type="button"
      (click)="onClearBoardClick()"
    >
      Clear Board
    </button>
  </div>
</div>
